body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
}
h1 {
    text-align: center;
    color: #fff;
    margin-top: 20px;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.table-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(249, 249, 249, 0.76);
    table-layout: fixed; /* 固定表格宽度 */
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    word-wrap: break-word; /* 自动换行 */
}
th {
    background-color: #4CAF50;
    color: white;
}
tr:hover {
    background-color: #ddd;
}
a {
    text-decoration: none;
    color: #007BFF;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
a:hover {
    background-color: #007BFF;
    color: white;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-left: 10px; /* 添加间距 */
}
.button:hover {
    background-color: #3e8e41;
}
.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.hidden {
    display: none;
}
.pagination {
    text-align: center;
    margin-top: 20px;
}
.pagination a {
    margin: 0 5px;
    text-decoration: none;
    color: #4CAF50;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
.pagination a:hover {
    background-color: #007BFF;
    color: white;
}
.pagination .active {
    background-color: #4CAF50;
    color: white;
}
.search-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px auto;
    width: 80%;
}
.search-container form {
    display: flex;
    align-items: center;
}
.search-container input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.student-count {
    font-size: 18px;
    color: #000; /* 修改字的颜色为黑色 */
    margin-left: 10px;
    padding: 10px;
}
.logout-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #f44336;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-left: auto; /* 将按钮推到右边 */
}
.logout-button:hover {
    background-color: #d32f2f;
    transform: scale(1.05);
}
